{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1><a href="{{ path('home') }}">SF2 Learning - Admin</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('jat_admin_main') }}">Admin</a></li>
                <li><a href="{{ path('jat_extranet_main') }}">Extranet</a></li>
                <li><a href="{{ path('jat_frontend_main') }}">Home</a></li>
            </ul>
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>

    <aside>
        {% block aside %}{% endblock %}
    </aside>
{% endblock %}