{% extends "JatFrontendBundle::layout.html.twig" %}

{% block title %}SF2 Learning - Frontend{% endblock %}

{% block article %}
    <h1>Frontend</h1>
    <h3>{{ where }}</h3>
{% endblock %}

{% block aside %}
    <p>Lorem ipsum dot equorum</p>
{% endblock %}