{% extends "JatAdminBundle::layout.html.twig" %}

{% block title %}SF2 Learning{% endblock %}

{% block article %}
    <h1>Admin</h1>
    <h3>{{ where }}</h3>
{% endblock %}

{% block aside %}
<p>Lorem ipsum dot equorum</p>
{% endblock %}